@use './variables' as *;

/* ----------
    関数
----------- */

/* スマホ用メディアクエリ */
@mixin sp {
  @media (max-width: ($break-point-sp)) {
    @content;
  }
}

/* Flexbox中央寄せセット */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
